<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hcnc.mapper.BadgeMapper">

	<select id = "selectCount" resultType = "String">
		SELECT COUNT(*) FROM STUDENTS
	</select>
	
	<select id = "selectStudents" resultType = "Map" parameterType = "String">
		SELECT S.STUDENT_ID AS STUDENT_ID
			 , S.STUDENT_NAME AS STUDENT_NAME
			 , S.BIRTH_DATE AS BIRTH_DATE
			 , E.EDU_NAME AS EDU_NAME
			 , IFNULL(D.DORMITORY_ID, "X") AS DORMITORY_ID
		  FROM STUDENTS S
		  LEFT JOIN DORMITORIES D
		    ON S.DORMITORY_ID  = D.DORMITORY_ID 
		  LEFT JOIN EDU_INFO E
		    ON S.EDU_ID  = E.EDU_ID 
		 WHERE S.BIRTH_DATE = #{birthDate}
	</select>
	
</mapper>