<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hcnc.mapper.FacilityMapper">
	
	<!-- 구내식당 목록 조회 -->
	<select id = "selectCafeteriaList" resultType = "Map">
		SELECT 1
	</select>
	
	<!-- 흡연장  조회 -->
	<select id = "selectSmokingAreaList" resultType = "Map">
		SELECT 1
	</select>
	
	<!-- 강의실  조회 -->
	<select id = "selectClassroomList" resultType = "Map">
		SELECT 1
	</select>
	
	<!-- 교통 정보 목록 조회 -->
	<select id = "selectTarnsportList" resultType = "Map">
		SELECT 1
	</select>
</mapper>